@model IEnumerable<WebStore.Models.PhoneView>

@{
    ViewData["Title"] = "PhoneList";
}

@Html.ActionLink("Список сотрудников", "Employees", "Home")
<h1>PhoneList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border="1" cellpadding="5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Details", "PhoneDetails", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
