@model WebStore.Models.PhoneView

@{
    ViewData["Title"] = "PhoneDetails";
}

<h1>PhoneDetails</h1>
<hr />
@Html.ActionLink("Back to List", "PhoneList")
<hr />
<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Производитель</td>
        <td>@Model.Manufacturer</td>
    </tr>
    <tr>
        <td>Модель</td>
        <td>@Model.Model</td>
    </tr>
    <tr>
        <td>Стоимость</td>
        <td>@Model.Price</td>
    </tr>
</table>

