@model IEnumerable<WebStore.Models.PhoneView>

@{
    ViewData["Title"] = "PhoneList";
}

@Html.ActionLink("Список сотрудников", "Employees", "Employee")
<h1>PhoneList</h1>

<p>
    <a asp-action="Edit" class="btn btn-success">Create New</a>
</p>
<table class="table">
    @foreach (var item in Model)
    {
    <tr>
        <td><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Details", "PhoneDetails", new { id = item.Id }) |
            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
    }
</table>
